<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %> 
</head>
<body>
    <!-- Navbar menu -->
    <%- include ('./partials/nav.ejs') %> 
    <!-- Hero Section -->
    <%- include ('./partials/hero.ejs') %>
    <!-- Services -->
    <%- include ('./partials/services.ejs') %>
    <!-- About -->
    <%- include ('./partials/about.ejs') %>
    <!-- Blog posts -->
    <%- include('./partials/news.ejs') %> 
    <!-- Testimony -->
    <%- include ('./partials/testimony.ejs') %> 
    <!-- Contact -->
    <%- include ('./partials/contact.ejs') %> 
    <!-- Footer -->
    <%- include ('./partials/footer.ejs') %> 

    <script src="/javascripts/script.js"></script>
</body>
</html>